## DEMOGRAPHIC INFORMATION OF STUDENTS

In [ ]:
import numpy as np
import pandas as pd

In [12]:
firstIndexes=["Gender","Gender","Gender","Educational Status","Educational Status","Educational Status","Educational Status","Average Daily Computer/Internet Usage Time","Average Daily Computer/Internet Usage Time","Average Daily Computer/Internet Usage Time","Average Daily Computer/Internet Usage Time"]

In [14]:
internalIndexes=["Male","Woman","Total","High school","Associate Degree","Licence","Total","0-2 Hours","3-5 Hours","9 Hours and above","Total"]

In [16]:
combinedIndexes=list(zip(firstIndexes,internalIndexes))
combinedIndexes

[('Gender', 'Male'),
 ('Gender', 'Woman'),
 ('Gender', 'Total'),
 ('Educational Status', 'High school'),
 ('Educational Status', 'Associate Degree'),
 ('Educational Status', 'Licence'),
 ('Educational Status', 'Total'),
 ('Average Daily Computer/Internet Usage Time', '0-2 Hours'),
 ('Average Daily Computer/Internet Usage Time', '3-5 Hours'),
 ('Average Daily Computer/Internet Usage Time', '9 Hours and above'),
 ('Average Daily Computer/Internet Usage Time', 'Total')]

In [19]:
combinedIndexes=pd.MultiIndex.from_tuples(combinedIndexes)
combinedIndexes

MultiIndex([(                                    'Gender', ...),
            (                                    'Gender', ...),
            (                                    'Gender', ...),
            (                        'Educational Status', ...),
            (                        'Educational Status', ...),
            (                        'Educational Status', ...),
            (                        'Educational Status', ...),
            ('Average Daily Computer/Internet Usage Time', ...),
            ('Average Daily Computer/Internet Usage Time', ...),
            ('Average Daily Computer/Internet Usage Time', ...),
            ('Average Daily Computer/Internet Usage Time', ...)],
           )

In [20]:
firstList=[[476,54.7],[394,45.3],[870,100],[371,42.6],[212,24.4],[287,33.0],[870,100],[482,55.4],[314,36.1],[74,8.1],[870,100]]

In [21]:
numpyList=np.array(firstList)

In [25]:
dataFrameList=pd.DataFrame(numpyList,index=combinedIndexes,columns=["f","%"])

In [26]:
dataFrameList

                                                                  f      %
Gender                                     Male               476.0   54.7
                                           Woman              394.0   45.3
                                           Total              870.0  100.0
Educational Status                         High school        371.0   42.6
                                           Associate Degree   212.0   24.4
                                           Licence            287.0   33.0
                                           Total              870.0  100.0
Average Daily Computer/Internet Usage Time 0-2 Hours          482.0   55.4
                                           3-5 Hours          314.0   36.1
                                           9 Hours and above   74.0    8.1
                                           Total              870.0  100.0

In [27]:
dataFrameList.index.names=["Variable","Category"]

In [28]:
dataFrameList

                                                                  f      %
Variable                                   Category
Gender                                     Male               476.0   54.7
                                           Woman              394.0   45.3
                                           Total              870.0  100.0
Educational Status                         High school        371.0   42.6
                                           Associate Degree   212.0   24.4
                                           Licence            287.0   33.0
                                           Total              870.0  100.0
Average Daily Computer/Internet Usage Time 0-2 Hours          482.0   55.4
                                           3-5 Hours          314.0   36.1
                                           9 Hours and above   74.0    8.1
                                           Total              870.0  100.0